body{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: rgba(225, 247, 247, 0.186);
}
h1, h2, h3, h4, h5, h6, p{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
a{
    font-family: 'Georgia', 'Times New Roman', Times, serif;

}
.CSfont{
    font-family: 'Roboto' !important;
}